@import './base.css';

a,
.green {
  text-decoration: none;
  transition: 0.4s;
}
html,
body,
#app {
  height: 100%;
  width: 100%;
  font-size: 0.12rem;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    '微软雅黑', Arial, sans-serif;
  color: #d2f5ff;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}

.container {
  min-height: 100%;
  width: 100%;
}
